apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: fintlabs-no
resources:
  - ../../../base
labels:
  - pairs:
      app.kubernetes.io/instance: fint-qlik-sync-sharepoint
      fintlabs.no/org-id: fintlabs.no
patches:
  - patch: |-
      - op: replace
        path: "/spec/itemPath"
        value: "vaults/aks-beta-vault/items/novari-qlik-sharepoint-sync"
    target:
      kind: OnePasswordItem
      name: novari-qlik-sharepoint-sync