apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: fintlabs-no
resources:
  - ../../../base
patches:
  - patch: |-
      - op: replace
        path: "/spec/itemPath"
        value: "vaults/aks-beta-vault/items/novari-qlik-sharepoint-sync"
    target:
      kind: OnePasswordItem
      name: novari-qlik-sharepoint-sync